node_modules
dist

src/input/*
src/input/openApi/*
!src/input/openApi/
!src/input/openApi/.gitkeep

src/input/yaml/*
!src/input/yaml/
!src/input/yaml/.gitkeep
!src/input/yaml/copper.yaml

src/output/*
!src/output/.gitkeep
!src/input/openApi/lichess.json

*.todo
*.txt