node_modules
dist

src/input/*
src/input/openApi/*
!src/input/openApi/
!src/input/openApi/.gitkeep

src/input/custom/*
!src/input/custom/
!src/input/custom/.gitkeep
!src/input/custom/copper.yaml

src/output/*
!src/output/.gitkeep
!src/input/openApi/lichess.json

*.todo
*.txt

.DS_store