/node_modules
/dist
.todo
notes.txt

src/input/*
!src/input/.gitkeep
!src/input/lichess.json
!src/input/razorpay.yaml

translation.json
stagedParams.json

src/output/*
!src/output/.gitkeep

/*.txt
/*.xlsx